# Compiled Dynamic libraries
*.so

#Python binaries
*.pyc

#Emacs temp files
#*
*~
~*

#OS X
*.dSYM
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
