option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "selfCitationRemoverAPI.settings"
    PYTHONPATH: "/opt/python/current/app/selfCitationRemoverAPI:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "selfCitationRemoverAPI/selfCitationRemoverAPI/wsgi.py"